SNOWFLAKE_ACCOUNT=your_account.region
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
AZURE_STORAGE_ACCOUNT=your_storage_account
AZURE_STORAGE_KEY=your_key
AZURE_TENANT_ID=your_tenant_id
AZURE_CLIENT_ID=your_client_id
AZURE_CLIENT_SECRET=your_client_secret
PBI_WORKSPACE_ID=your_workspace_id
PBI_DATASET_ID=your_dataset_id
DBT_ACCOUNT_ID=your_account_id
DBT_API_TOKEN=your_api_token
DBT_JOB_ID=your_job_id
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx
